<?xml version="1.0"?>

<BaseConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- -->
  <DbconnectstringDebug>Data Source=172.21.128.84;Initial Catalog=Exam2;Persist Security Info=True;User ID=adminims;Password=Ifs2015Pri</DbconnectstringDebug>
  <Dbconnectstring>Data Source=ATCLSTNR3;Initial Catalog=ICTOS_PE;Persist Security Info=True;User ID=CtospeSa;Password=ict0p1$a</Dbconnectstring>
  <DbconnectstringCTOSCustomer>Data Source=172.21.161.110;Initial Catalog=CTOSCustomer;Persist Security Info=True;User ID=sa;Password=Ifs2015Pri</DbconnectstringCTOSCustomer>
  
  <Defaultpath>/</Defaultpath>
  <SMTPServer>smtp.163.com</SMTPServer>
  <Cookiename>pesite</Cookiename>
  <Cookiedomain></Cookiedomain>
  <CompanyInfo>ICTOS平台管理</CompanyInfo>
  <SiteName>Advantech.com</SiteName>
  <Miitbeian>湘ICP备XXXX号</Miitbeian>
  <HomeKey>XXX</HomeKey>
  <HomeDescription>ICTOS平台管理</HomeDescription>
  <Passwordkey>5V2BAevBk5</Passwordkey>
  <ReportServicePath>E:\Production\CTOS_Test_Report</ReportServicePath>
</BaseConfigInfo>