@model advt.Model.PageModel.PEModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" style="background:#3c8dbc">
    <img src="~/Images/bg-2.jpg" style="margin-left:30%" />
</div>

